<!--1.继承admin.html-->
{% extends 'admin/admin.html' %}
<!--2.设置主内容-->
{% block content %}
    <!--显示位置-->
    <section class="content-header">
        <h1>星空电影管理系统|后台</h1>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard"></i>
                    电影编辑
                </a>
            </li>
        </ol>
    </section>
    <section class="content" id="showcontent">
        <div class="row">
            <div class="col-md-12">
                <div class="box  box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                             电影编辑
                        </h3>
                    </div>
                    <form role="form" method="post" enctype="multipart/form-data">
                        <div class="box-body">
                            <!--成功弹出框-->
                            {% for msg in get_flashed_messages(category_filter=['ok']) %}
                                <div class="alert alert-success alert-dismissible">
                                    <button type="button" class="close"
                                            data-toggle="alert" aria-hidden="true">
                                    </button>
                                    <h4>
                                        <i class="icon fa  fa-check"></i>操作成功
                                    </h4>
                                    {{ msg }}
                                </div>
                            {% endfor %}
                            <!--失败弹出框-->
                            {% for msg in get_flashed_messages(category_filter=['err']) %}
                                <div class="alert alert-danger alert-dismissible">
                                    <button type="button" class="close"
                                            data-toggle="alert" aria-hidden="true">
                                    </button>
                                    <h4>
                                        <i class="icon fa  fa-ban"></i>操作失败
                                    </h4>
                                    {{ msg }}
                                </div>

                            {% endfor %}
                            <!--电影设置-->
                            <!--1.电影名称-->
                            <div class="form-group">
                                <label for="input_title">
                                    {{ form.title.label }}
                                </label>
                                {{ form.title(value = movie.title) }}
                                {% for err in form.title.errors %}
                                    <div class="col-md-12">
                                        <p style="color: red">{{ err }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                            <!--2.电影文件-->
                            <div class="form-group">
                                <label for="input_url">
                                    {{ form.url.label }}
                                </label>
                                {{ form.url(required=False) }}
                                {% for err in form.url.errors %}
                                    <div class="col-md-12">
                                        <p style="color: red">{{ err }}</p>
                                    </div>
                                {% endfor %}
                                <div style="margin-top: 5px">
                                    <div id="moviecontainer"></div>
                                </div>
                            </div>
                            <!--3.电影简介-->
                            <div class="form-group">
                                <label for="input_info">
                                    {{ form.info.label }}
                                </label>
                                {{ form.info(value = movie.info) }}
                                {% for err in form.info.errors %}
                                    <div class="col-md-12">
                                        <p style="color: red">{{ err }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                            <!--4.电影海报-->
                            <div class="form-group">
                                <label for="input_logo">
                                    {{ form.logo.label }}
                                </label>
                                {{ form.logo(required=False) }}
                                {% for err in form.logo.errors %}
                                    <div class="col-md-12">
                                        <p style="color: red">{{ err }}</p>
                                    </div>
                                {% endfor %}
                                <img  src="{{ url_for('static',
                                        filename='uploads/'+movie.logo) }}"
                                        style="margin-top: 5px" class="img-responsive"/>

                            </div>
                            <!--5.电影名称-->
                            <div class="form-group">
                                <label for="input_star">
                                    {{ form.star.label }}
                                </label>
                                {{ form.star(value = movie.star) }}
                                {% for err in form.star.errors %}
                                    <div class="col-md-12">
                                        <p style="color: red">{{ err }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                            <!--6.电影标签-->
                            <div class="form-group">
                                <label for="input_tag_id">
                                    {{ form.tag_id.label }}
                                </label>
                                {{ form.tag_id(value = movie.tag_id) }}
                                {% for err in form.tag_id.errors %}
                                    <div class="col-md-12">
                                        <p style="color: red">{{ err }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                            <!--7.上映地区-->
                            <div class="form-group">
                                <label for="input_area">
                                    {{ form.area.label }}
                                </label>
                                {{ form.area(value = movie.area) }}
                                {% for err in form.area.errors %}
                                    <div class="col-md-12">
                                        <p style="color: red">{{ err }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                            <!--8.电影片长-->
                            <div class="form-group">
                                <label for="input_length">
                                    {{ form.length.label }}
                                </label>
                                {{ form.length(value = movie.length) }}
                                {% for err in form.length.errors %}
                                    <div class="col-md-12">
                                        <p style="color: red">{{ err }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                            <!--9.上映时间-->
                            <div class="form-group">
                                <label for="input_release_time">
                                    {{ form.release_time.label }}
                                </label>
                                {{ form.release_time(value = movie.release_time) }}
                                {% for err in form.release_time.errors %}
                                    <div class="col-md-12">
                                        <p style="color: red">{{ err }}</p>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>
                        <div class="box-footer">
                            {{ form.csrf_token }}
                            {{ form.submit }}
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

<!--3.js区域-->
{% block js %}
    <!--播放页面-->
    <!--1.加载js文件-->
    <script src="{{ url_for('static',
            filename='jwplayer/jwplayer.js') }}"></script>
    <!--2.设置播放插件的key值-->
    <script type="text/javascript">
        jwplayer.key =
            'P9VTqT/X6TSP4gi/hy1wy23BivBhjdzVjMeOaQ==';
    </script>
    <!--3.设置播放的文件以及形式-->
    <script type="text/javascript">
        jwplayer('moviecontainer').setup({
            flashplayer:"{{ url_for('static',
                    filename='jwplayer/jwplayer.flash.swf') }}",
            playlist:[{
               file:"{{ url_for('static',
                    filename='uploads/'+movie.url) }}",
                    title:"{{ movie.title }}"
            }],
            modes:[
                {type:'html5'},
                {type:'flash',
                    src:"{{ url_for('static',
                    filename='jwplayer/jwplayer.flash.swf') }}"
                },
                {type:'download'}
            ],
            skin:{name:'vapor'},
            'playlist.position':'left',
            'playlist.size':200,
            height:250,
            width:387
        });
    </script>

    <!--4.设置上映时间的格式-->
    <script>
        $(document).ready(function (){
            $("#input_release_time").datepicker({
               autoclose:true,
               format:'yyyy-mm-dd',
               language:'zh-CN'
            });
        });

    </script>
    <script>
        $(document).ready(function (){
           $('#g-3').addClass("active");
           $('#g-3-2').addClass("active");
        });
    </script>
{% endblock %}

